*{  
    font-family: "Times New Roman";

    
}

#DatosPersonales{
    font-style: italic ;
}

body{
    background-color: rgb(146, 156, 119);
    width: 1024px;
}

.Recuadro_imagen{
    background-color: #E6E6E6;
    padding: 10px;
    text-align: center;
}
.TextoTabulado{
    margin-left: 79px;
}
h1{
    background-color: #C4C4C4;
    padding:5px;
    text-align: center;
    color: #005677;
    letter-spacing: 4px;
    font-size: 35px;
}

h2{
    background-color: #C4C4C4;
    padding:2px;
    color: #005677;
    letter-spacing: 2px;
    font-size: 20px;
    letter-spacing: 4px;
    padding-left: 7px;
}


Footer{
    left: 0px;
    background: #005677;
    font-size: 20px;
    color:#FFFFFF;
    letter-spacing: 8px;
    text-align: center;
    padding: 10px;
}
